<p id="notice"><%= notice %></p>

<p>
  <b>\title:</b>
  <%= @prod.\title %>
</p>

<p>
  <b>Description:</b>
  <%= @prod.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @prod.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @prod.price %>
</p>


<%= link_to 'Edit', edit_prod_path(@prod) %> |
<%= link_to 'Back', prods_path %>
